{# templates/admin/custom-dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}PHP-MALL后台管理系统{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="/logout">退出系统</a>
{% endblock %}

{% block main %}
    <div class="">
        这是首页
    </div>
{% endblock %}